<%= high_chart("my_bar_div", @bar) %>

 <br>
<div class="row content">
<body>
<table>
<tr>
<th>Id</th>
<th>Date</th>
<th>Time</th>
<th>Sleep</th>
<th>Steps</th>
<th>Distance</th>
</tr>
<h2>Recent Activity</h2>
<% @lastfive.each do |routine| %>
<tr>
<td><%= routine.id %></td>
<td><%= routine.date %></td>
<td><%= routine.time.strftime("%H:%M") %></td>
<td><%= routine.sleep %></td>
<td><%= routine.step %></td>
<td><%= routine.distance %></td>
</tr>
<% end %>
</table>
</body>


<h2>Import your Routine from Argus</h2> <%= image_tag("ArgusLogo.jpg", :alt => "argus logo") %>
<%= form_tag import_routines_path, multipart: true do%>
<%= file_field_tag :file %>
<%= submit_tag "Import", class: "button" %>
<% end %>
</div>


