
		<h3>Sleep</h3>
		<p><%= @routine.sleep %></p>
		
		<h3>Steps</h3>
		<p><%= @routine.step %></p>
		<h3>Distance</h3>
		<p><%= @routine.distance %></p>

<body>
<table>
<tr>
<th>Sleep</th>
<th>Steps</th>
<th>Distance</th>
</tr>
<tr>
<td><%= @routine.sleep %></td>
<td><%= @routine.step %></td>
<td><%= @routine.distance %></td>
</tr>
</table>
</body>
</html>
