
		

<body>
<table>
<tr>
<th>Sleep</th>
<th>Steps</th>
<th>Distance</th>
</tr>
<% @routines.each do |routine| %>
<tr>
<td><%= routine.sleep %></td>
<td><%= routine.step %></td>
<td><%= routine.distance %></td>
</tr>
<% end %>
</table>
</body>

<h2>Import stuff</h2>
<%= form_tag import_routines_path, multipart: true do%>
<%= file_field_tag :file %>
<%= submit_tag "Import" %>
<% end %>