<!DOCTYPE html>
<html>
<head>
  <title>Life Back</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/fullcalendar/1.6.4/fullcalendar.min.js'></script>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <a href="/"><div id="logo"></div></a>
      </li>
       <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <ul class="right nav-white">
        <li><a href="#">Talk to Someone <%= image_tag("emergency.png", :alt => "emergency icon") %></a></li>
      </ul>
      <!-- Left Nav Section -->

      <ul class="left nav-white">
        <li><%= link_to "My Day", :controller => "/challenges", :action => "show" %></li>
        <li><%= link_to "Health", :controller => "/routines", :action => "index" %></a></li>
        <li><%= link_to "Thoughts", :controller => "/thoughts", :action => "new" %></li>
        <li><%= link_to "Rewards", :controller => "/rewards", :action => "show" %></li>
        <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
      </ul>
    </section>
  </nav>
  <hr>
</header>

<%= yield %>

</body>
</html>
